.torrex-fitness {
  font-family: "Vazirmatn", sans-serif;
}

.button {
  margin: auto;
  text-align: center;
  width: 50px;
}

table {
  width: 500px;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  vertical-align: top;
  padding: 5px;
  word-wrap: break-word;
}

.btn-primary-tf {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd;
}

.btn-primary-tf:hover,
 .btn-primary-tf:focus,
  .btn-primary-tf:active,
   .btn-primary-tf.active,
    .open>.dropdown-toggle.btn-primary-tf {
        color: #fff;
        background-color: #00b3db;
        border-color: #285e8e;
}

.btn-warning-tf {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd;
}

.btn-warning-tf:hover,
 .btn-warning-tf:focus,
  .btn-warning-tf:active,
   .btn-warning-tf.active,
    .open>.dropdown-toggle.btn-warning-tf {
        color: #fff;
        background-color: #00b3db;
        border-color: #285e8e;
}


