<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Carts List</h1>
    <a th:href="@{/showNewCartForm}" class="btn btn-primary btn-sm mb-3"> Add Cart </a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Cart ID</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cart : ${listCarts}">
            <td th:text="${cart.id}"></td>
            <td th:text="${cart.lastName}"></td>
            <td th:text="${cart.email}"></td>
            <td th:text="${cart.password}"></td>
            <td>
                <a th:href="@{/showFormForCartUpdate/{id}(id=${cart.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteCart/{id}(id=${cart.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container my-2">
    <a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3"> Log out </a> <br>
    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3"> Back to Home </a>
</div>
</body>
</html>