<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>True Index</title>
</head>
<body>
    <div class="container">
        <h1>What would you like to do?</h1>
        <a th:href="@{/index_users}" class="btn btn-primary">View all Customers (Disabled)</a><br>
        <a th:href="@{/index_products}" class="btn btn-danger">View all Products</a><br>
        <a th:href="@{/index_products}" class="btn btn-danger">View all Carts (Disabled)</a><br>
        <a th:href="@{/index_users}" class="btn btn-danger}">View all Orders (Disabled)</a><br>
    </div>
    <a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3"> Log out </a> <br>
</body>
</html>