<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>True Index</title>
</head>
<body>
    <div class="container">
        <h1>What would you like to do?</h1>
        <a th:href="@{/index_users}" class="btn btn-primary">View all Users</a><br>
        <a th:href="@{/index_products}" class="btn btn-danger">View all Products</a><br>
<!--    TODO - correct the href endpoints on the links below-->
        <a th:href="@{/index_users}" class="btn btn-danger}">View all Carts</a><br>
        <a th:href="@{/index_users}" class="btn btn-danger}">View all Cart Items</a><br>
        <a th:href="@{/index_users}" class="btn btn-danger}">View all Orders</a><br>
        <a th:href="@{/index}" class="btn btn-danger}">Back to Home</a><br>
    </div>
</body>
</html>